.grid-container {
    display: grid;
    padding: 10px;
    background-color: #F3F4F6;
  }

.topcontainer {
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
}

.header {
    font-size: 55px;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
  }

  .header2 {
    color: #FF4B88;
    font-size: 55px;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
  }

.navbar {
    display: flex;
    justify-content: center;
    gap: 5px;
    border-radius: 30px;
    background-color: white;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    margin-right: 25%;
    margin-left: 25%;
}

.image {
    max-width: 100%;
    height: auto;
    border: 10px;
}

.results {
  background-color: #F3F4F6;
    padding: 5px;
  }

.button {
  background-color: white;
  border: 1px;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  color: #A6A6A6;
}

  .button:hover {
    border-radius: 15px;
    border: none;
    background-color: #713FDC;
    color: white;
}

.footer {
    background-color: pink;
    text-align: center;
    padding: 2px;
    
}

