.grid-container {
    display: grid;
    padding: 10px;
  }

.topcontainer {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    padding: 5px;
    align-items: center;
    justify-content: flex-start;
}

.header {
    color: rgb(113,63,220);
    font-size: 65px;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
  }

.navbar {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.image {
    max-width: 100%;
    height: auto;
}

.results {
    background-color: red;
    padding: 5px;
  }

.button {
  background-color: white;
  border: 1px;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  color: rgb(113,63,220);
}

  .button:hover {
    border-radius: 15px;
    border: none;
    background-color: #F4C8DD;
    color: white;
}

.footer {
    background-color: pink;
    text-align: center;
    padding: 2px;
    
}

