body{
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto auto;
  background-color: #F3F4F6;
  }

div.top{
  grid-column: 1/3;
  color: #070707;
  text-decoration: none;
   
}

div.middle{
  grid-column: 2/3;

}

div.bottom{
    grid-column: 1/3;
    
}

li {
  display: inline;
}
