.grid-container {
    display: grid;
    padding: 10px;
  }

.topcontainer {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    grid-template-columns: auto auto;
    padding: 5px;
    align-items: center;
    justify-content: flex-start;
}

.header {
    color: rgb(113,63,220);
    font-size: 45px;
    padding-left: 20px;
  }

.navbar {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.image {
    max-width: 100%;
    height: auto;
    background-color: whitesmoke;
}

.results {
    background-color: red;
    padding: 5px;
  }

  .button {
    padding: 25px 20px;
    border-radius: 15px;
    border: none;
    background-color: pink;
}

.footer {
    background-color: pink;
    text-align: center;
    padding: 2px;
    
}

